<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ch.coredump.gfroerli</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>gfroerli</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconFiles</key>
            <array>
                <string>IconOriginal</string>
            </array>
            <key>UIPrerenderedIcon</key>
            <false/>
        </dict>
        <key>CFBundleAlternateIcons</key>
        <dict>
            <key>Night</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconNight</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>SummerSunset</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconSummerSunset</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
            <key>WinterSunset</key>
            <dict>
                <key>CFBundleIconFiles</key>
                <array>
                    <string>IconWinterSunset</string>
                </array>
                <key>UIPrerenderedIcon</key>
                <false/>
            </dict>
        </dict>
    </dict>
</dict>
</plist>
